# Postgres (DuckLake catalog)
POSTGRES_USER=ducklake
POSTGRES_PASSWORD=ducklake
POSTGRES_DB=ducklake
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433

# DuckLake data files
DUCKLAKE_DATA_PATH=data/lake/

# NATS JetStream
NATS_PORT=4222
NATS_MONITOR_PORT=8222
NATS_URL=nats://127.0.0.1:4222
JETSTREAM_NAME=CHANGES
JETSTREAM_SUBJECT_PREFIX=changes

# CDC consumer base name
CDC_CONSUMER=orders_sink